<?xml version="1.0" encoding="UTF-8"?>

<plugin
    xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-gadgetbridge"
    version="0.4.1">

    <name>GadgetbridgePlugin</name>

    <keywords>cordova,mmir,gadgetbridge,mi-band,pebble</keywords>

    <description>
      Cordova plugin for Gadgetbridge.
    </description>

    <license>AGPL3</license>

    <author>DFKI</author>

    <engines>
        <engine name="cordova" version=">=5.0" />
    </engines>

    <js-module src="www/gadgetbridge.js" name="gadgetbridgePlugin">
    	<clobbers target="window.cordova.plugins.gadgetbridgePlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        
        <preference name="GB_EXTENDED_PERMISSIONS" default="false" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GadgetbridgePlugin" >
		        <param name="android-package" value="de.dfki.iui.mmir.plugins.gadgetbridge.GadgetbridgePlugin" />
		    </feature>
        	<preference name="GB_EXTENDED_PERMISSIONS" value="$GB_EXTENDED_PERMISSIONS" />
        </config-file>

        <source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/GadgetbridgePlugin.java" 	target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/IDeviceManager.java" 		target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/DeviceInfoType.java" 		target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/db/InsertionTask.java" 		target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge/db" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/db/RemovalTask.java" 		target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge/db" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/db/RetrievalTask.java" 		target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge/db" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/db/DbTaskManager.java" 		target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge/db" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/db/DbTaskType.java" 		target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge/db" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/utils/ResultUtils.java" 	target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge/utils" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/utils/SettingsUtil.java" 	target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge/utils" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/utils/ApplySettings.java" 	target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge/utils" />
		<source-file src="src/android/de/dfki/iui/mmir/plugins/gadgetbridge/utils/JSONUtils.java" 		target-dir="src/de/dfki/iui/mmir/plugins/gadgetbridge/utils" />

        <framework src="res/android/res/gadgetbridgeBuild.gradle" custom="true" type="gradleReference" />
        <resource-file src="res/android/libs/gadgetbridge.aar" target="libs/gadgetbridge.aar" />
        <resource-file src="res/android/libs/gadgetbridgeExtPerm.aar" target="libs/gadgetbridgeExtPerm.aar" />

    </platform>

</plugin>
